.example {
    padding-left: 8%;
    padding-top: 1%;
}

.main {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.linechart {
    padding-top: 4%;
    padding-bottom: 4%;
}

.tableinfo {
    padding-left: 2%;
    padding-top: 4%;
    padding-right: 2%;
    width: 100%;
}

.scroll {
    height: 350px;
    overflow: auto;
    /* overflow-y: scroll; */
}

.mat-header-row {
    top: 0;
    position: sticky;
    background-color: inherit;
}

.mat-checkbox {
    padding-left: 20%;
}

.container {
    margin-top: 2%;
    padding-bottom: 2%;
    margin-bottom: 4%;
}

.piechart {
    width: 100%;
}

.parent {
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
}

.mat-checkbox {
    padding-right: 5%;
    float: right;
}

.trying {
    height: 50%;
    width: 50%;
}

.emptyData {
    margin-top: 5%;
    margin-left: 10%;
    width: 80%;
    height: 60%;
    margin-bottom: 15%;
    background-color: #dacfcf30;
}

.emptyDataInfo {
    font-size: 150%;
    position: relative;
    float: left;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mat-cell {
    font-size: 100%;
}

.mat-header-cell {
    font-size: 100%;
}