<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar style="background-color: #C5CAE9;">
      <p> {{ csrmail }} </p>
    </mat-toolbar>
    <mat-nav-list>
        
      <a mat-list-item routerLink="/home/commandlist">
        <i class="material-icons">
          format_list_bulleted
        </i>
        CommandList
      </a>
      <a mat-list-item routerLink="/home/performance">
        <i class="material-icons">
        trending_up
        </i>
        Performance
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>NIKOLAJ</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
    <div class="footer">
      <p class="footer-copyright">&copy; Copyright 2019 | Nikolaj</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
