.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 260px;
}

.side-toolbar {
  background-color: #E1BEE7;
  height: 200px;
}

.side-toolbar p {
  margin-top: auto;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

mat-toolbar {
  background-color: #E1BEE7;
}

.material-icons {
  margin-right: 5px;
}

