.sidenav-container {
    height: 100%;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}

mat-icon {
    padding-top: 10%;
    padding-right: 30%;
    padding-left: 10%;
}

.menu {
    padding-left: 10%;
}

.font {
    font-size: 120%;
}

.heading {
    font-size: 120%;
}