<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar fxLayout>
            <div>
                <mat-icon class="icon-display" aria-hidden="false">trending_up</mat-icon>
            </div>
            <div>Reports</div>
        </mat-toolbar>
        <mat-nav-list class="menu">
            <a mat-list-item class="font" routerLink="/reports" routerLinkActive="active">Track Tickets</a>
            <a mat-list-item class="font" routerLink="/serviceoutlier">Service Outlier</a>
            <a mat-list-item class="font" routerLink="/botreport">BOT Reliabilty</a>
            <a mat-list-item class="font" routerLink="/csrreport">CSR Reliabilty</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
            <h1 class="project">NIKOLAJ</h1>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>