.filter-headers-align .mat-expansion-panel-header-title,
.filter-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
    width: 50%;
}

.filter-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}


/* .mat-expansion-panel {
    width: 50%;
} */

mat-form-field {
    margin-right: 12px;
}


/* styling for list */

.search {
    height: 30px;
    width: 50%;
    text-align: center;
    border: 2px solid black;
    margin-top: 2%;
    font-size: 20px;
}

.active-status {
    color: rgba(18, 129, 3, 0.54);
}

.inactive-status {
    color: rgba(123, 128, 123, 0.54);
}


.list-page-container {
    margin: 0 auto;
    margin-bottom: 5%;
    width: 80% !important;
    /* background: #f2f2f2; */
    margin-top: 1%;
    border-radius: 10px;
    padding: 10px;
    /* box-shadow: 5px 10px #888888; */
}

.command-name {
    font-size: 25px !important;
}

.mat-list {
    margin: 0 auto;
    width: 80%;
}

/* .intent {
    margin-right: 5%;
} */

pagination-controls {
    text-align: center;
}