.report
{
    padding: 50px;
}

.flex-container {
  
  display: flex;
  flex-direction: row;
  align-content: center;
}

::ng-deep .partitionSVG
{
font: 30px;
} 
/* .querydiv
{
align: right;
} */
/* #partitionSVG
{
font-size: 50px;
} */


  .item1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
   /* font: 30px; */
  }
 /* #partitionSVG
{
  font: 30px sans-serif;
  
}  */
  
#partitionSVG
{
  font-size: 50px;
}