<div class="error-msg" *ngIf="error">
    <p>{{ error }}</p>
</div>

<div>
    <mat-form-field class="example">
        <input matInput [matDatepicker]="picker" placeholder="select the start date" (dateInput)="getStartDate('input', $event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>


    <mat-form-field class="example">
        <input matInput [matDatepicker]="pickerTo" placeholder="select the end date" (dateInput)="getEndDate('input', $event)">
        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
        <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
</div>


<div class="performance" *ngIf="!error">
    <h1 class="mat-h1">CSR Performance Details</h1>
    <div style="display: block">
        <canvas baseChart
         [datasets]="barChartData" 
         [labels]="barChartLabels" 
         [options]="barChartOptions"
         [colors]="barChartColors" 
         [plugins]="barChartPlugins" 
         [legend]="barChartLegend" 
         [chartType]="barChartType">
        </canvas>
    </div>
</div>