mat-form-field {
    width: 100%;
}

.heading {
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 1%;
    padding-bottom: 1%;
    margin-bottom: 0%;
}

.selectItem {
    display: inline;
}

.progress {
    padding-top: 5%;
    border-radius: 5em;
    margin-bottom: 2%;
}

.numbering {
    text-align: center;
    margin-bottom: 1%;
}

.item {
    /* margin-top: 2%; */
    /* padding-left: 1%; */
    padding-right: 1%;
    display: inline-block;
}

.infinityscroll {
    /* padding-top: 4%; */
    height: 30rem;
    overflow: scroll;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    /* overflow: auto; */
}

section {
    padding-left: 2%;
    padding-right: 2%;
}

.ticketName {
    padding-left: 0%;
}

.parent {
    padding-top: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.mat-line {
    font-size: 20px;
}


/* Example Only Styles */

.child {
    height: 100px;
}

.name {
    font-size: 20px;
}

.one {
    /* padding-top: 2%; */
    display: grid;
    grid-template-columns: 12% 1fr 15%;
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
}

.ticket {
    margin-bottom: 1%;
    margin-top: 0%;
    font-weight: normal;
}

.check {
    margin-bottom: 2%;
}

.description {
    padding-right: 5%;
}

.expansion {
    flex-direction: row;
    align-content: flex-end;
}

.title {
    font-size: 150%;
}

.dateCheck {
    display: grid;
    grid-template-columns: 12% 12% 1fr;
}

.raisedby {
    margin-top: 0%;
}

.emptyData {
    width: 100%;
    height: 100%;
    background-color: #dacfcf30;
}

.emptyDataInfo {
    font-size: 150%;
    position: relative;
    float: left;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.font {
    font-size: 120%;
}