.wrapper1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    padding: 3px 2px 3px 2px;   
    text-align: center;
}

.details{
    text-align: left;
}

mat-form-field {
    width: 100%;
  }

.command-button{
    width: 100%;
}
