.opentickets{
    top: 30%;
    padding: 80px 20px 10px 20px;
    max-width: 600px;
    margin: auto;
    font-family: Questrial;
   

}

.assignme {
    width: 80%;
}

.background {
    background-image: url('../../assets/background1.jpg');
    background-attachment: fixed;
    background-size: cover;
    min-height: 80%;
}



i{
    margin: 3px;
}
