<div class="container"
    fxLayout
    fxLayout.xs="column"
    fxLayoutAlign="center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0"
    *ngIf=status>
 <div class="item item-1" fxFlex="30%"  fxFlexOrder="3">{{suggestions}}  </div>
 <div class="item item-2" fxFlex="10%">
   <mat-icon (click)="changeIconThumbUp('done')">
       {{thumbUp}}
   </mat-icon>
 </div>
 <div class="item item-3" fxFlex="10">
   <mat-icon (click)="changeIconThumbDown('done')">
       {{thumbDown}}
   </mat-icon>
 </div>
</div>
<div *ngIf="intent==undefined">
   <form [formGroup]="reportForm" (ngSubmit)="onSubmit(reportForm.value)" class="details">
   <mat-form-field>
           <input matInput placeholder="Entity" formControlName="entity">
   </mat-form-field>
   <mat-form-field>
           <input matInput placeholder="Intent" formControlName="intent">
   </mat-form-field>
   <mat-form-field>
           <input matInput placeholder="Command" formControlName="command">
   </mat-form-field>
   <button mat-raised-button color="primary" type="submit">
       Update
   </button>
   </form>
</div>