<!-- <p>userchat works!</p> -->
<!-- <p>chat works!</p> -->

<mat-card>
    <mat-card-header style="background-color:primary">
      
        <mat-card-title>Live Chat</mat-card-title>
        
    </mat-card-header>
    <hr>
    <mat-card-content>
        <div class="chat-window" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                <div class="message" *ngFor="let msg of messages" >{{msg}}</div>
        </div>

        <div class="chat-form">
            <form>
                <mat-form-field class="example-full-width" appearance="outline">
                    <input matInput placeholder="Start chat..." #message id="chatmessage">
                </mat-form-field>
                <button mat-fab color="primary"
                (click)="sendMessage(message.value)"> <mat-icon>send</mat-icon></button>
            </form>
        </div>

    </mat-card-content>
</mat-card>
