mat-card{
    height: 700px;
}

mat-form-field{
    width: 80%;
    margin-right: 5px;
}

.chat-window{
    height: 580px;
    overflow-x: scroll;
}

.message{
    text-align: left;
    padding: 20px 10px 20px 10px;
    background-color: #EEEDED;
    margin-bottom: 5px;
    width: 80%;
    margin-left:auto;
    margin-right: auto;
}