<!-- <p>chat works!</p> -->

<mat-card>
        <mat-card-header style="background-color:primary">
          
            <mat-card-title>Live Chat</mat-card-title>
            
        </mat-card-header>
        <hr>
        <mat-card-content>
            <div class="chat-window">
            </div>
    
            <div class="chat-form">
                <form>
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="Start chat...">
                    </mat-form-field>
                    <button mat-fab color="primary"> <mat-icon>send</mat-icon></button>
                </form>
            </div>
    
        </mat-card-content>
</mat-card>
    